.player-line {
}

.player-line.clicked {
	background: #b3cde0;
}

td {
 line-height: 100%;
 font-size: 6em;
 border-bottom:1pt solid black;
}

.player-line table td {
  font-size: 0.15em;
  border-bottom: none;
}

.status-image {
  position: absolute;
}

.status-image-crown {
  transform: rotate(29deg);
  top: -17px;
  right: -45px;
  height: 70px;
  width: 70px;
}

.status-image-clown {
  transform: rotate(21deg);
  top: -29px;
  right: -35px;
  height: 100px;
  width: 100px;
}

.td-content-container {
  position: relative;
}

.card {
  height: 70px;
  width: 70px;
}

.cards-placeholder {
  width: 150px;
}

.positions-statistics-table-5 {
  font-size: 200px;
}

.positions-statistics-table-6 {
  font-size: 160px;
}