.selection-wrapper {
	height: 100%;
}

.inputs-wrapper {
	display: flex;
	flex-direction: column
}

input {
	height: 40px;
	font-size: 20px;
	text-align: center;
}

.selection-header {
	height: 30px;
	font-size: 20px;
	background: #373a6d;
	color: white;
}

.selection-wrapper button {
	margin-top: 10px;
	font-size: 20px;
	height: 30px;
	border: none;
	background: black;
	color: white;
	border-radius: 50%;
	width: 100px;
}

.selection-wrapper button:hover {
	cursor: pointer;
}

